
.rang{
  width: 300px;
  height: 300px;
 
  animation: bubble 1s ease-in-out 0s;
  transform: translate(-50%, -50%) scale(.5);
  position: fixed;
  opacity: 1;
}


@keyframes bubble {
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    
  }
  50% {
    opacity: 1;
  }
  from {
    transform: translate(-50%, -50%) scale(0);
    
    
  }
}