.asosiy{
  display: flex;
 align-items: center;
/* border: 1px solid black; */
width: 600px;
height: 200px;
  gap: 3rem;
  margin: auto;
  margin-top: 200px;
  color: white;
  border-radius: 10px;
}

div{
  flex-basis: 100px;
  font-size: 30px;
  margin: auto;
 

}
.asosiy p {
  font-size: 120px;
  margin-top: -1rem;
}

span{
  font-size: 50px;
  /* margin-left: -10rem; */

 
  
 
  
}

body{
  background-image: url(newyear.webp);
  background-size: cover;
}
